.bar.bar-profile {
    background-color: #7aa2d4;
    height: 170px;
}

.bar .profile {
    top: 0;
    right: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    padding-top: 15px;
}

.profile .name {
    color: #FFFFFF;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.profile-picture {
    border-radius: 50%;
    height: 80px; 
    width: 80px;
}

.menu .has-header
{
    top: 169px;
}

/*animate*/

.animated-item {
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

.item-content {
  min-height: 0;
}

.animated-item.ng-leave.ng-leave-active,
.animated-item.ng-enter {
  max-height: 0;
}

  .animated-item.ng-leave,
  .animated-item.ng-enter.ng-enter-active {
    max-height: 52px;
  }
