<ion-view view-title="{{nickname}}">
  <ion-content padding="true" class="has-header">
    <div class="eag-home-container-flex">
      <div class="eag-home-container">
        <div class="row">
          <div class="col"><a href="#/app/profileData/{{nickname}}/{{id}}" class="button button-stable button-clear eag-home-button"><img src="../img/menu/ProfileDetail.png"></a><p class="eag-home-label">Profile</p></div>
          <div class="col"><a class="button button-stable button-clear eag-home-button"><img src="../img/menu/VaccineData.png"></a><p class="eag-home-label">Vaccine Data</p></div>

        </div>
        <div class="row">
          <div class="col"><a class="button button-stable button-clear eag-home-button"><img src="../img/menu/Calendar.png"></a><p class="eag-home-label">Date</p></div>
          <div class="col"><a class="button button-stable button-clear eag-home-button"><img src="../img/menu/RecommentVaccine.png"></a><p class="eag-home-label">Recommend Vaccine</p></div>

        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
